#maindiv {
  width: 500px;
  height: 300px;
  border: 1px solid #f2f2f2;
  padding: 10px;
}

#dragdiv {
  width: 180px;
  float: left;
}

#dropdiv {
  width: 50px;
  position: fixed;
  height: 50px;
  bottom: 3%;
  /* float: left; */
  background-color: #ff9696;
  /* margin-left: 50px; */
  border-radius: 50%;
  display: block;
  /* right: 20px; */
  right: 44%;
  margin: auto;
  z-index: 99;
  /* justify-content: center !important; */
}

/* [mwlDroppable] {
  background-color: red;
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 1;
  top: 50px;
  left: 100px;
}
/* [mwlDroppable] {
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.drop-over-active {
  opacity: 1 !important;
  transform: scale(1.5);
  background-color:red !important;
  z-index:99 !important ;
position:  relative!important;
margin: auto !important;
width: 100%;
}

/* @keyframes circle_div{
  0%   {transform: scale(1);transform-origin: center; }
  50%  {transform: scale(10.5);transform-origin: center;}
  75%  {transform: scale(15.5);transform-origin: center;}

  100% {transform: scale(20.5)}
} */

/*button animations */
.fixed_div_circle{
  position: fixed;
  bottom: 2%;
  width: 100% !important;
  height: 50px !important;
  overflow: hidden !important;
  left: 0;
}
.displaynon{
  display: none;
}
.displayblock{
  display: block;
}

.fixed_div_rect{
  position: fixed;
  bottom: 0;
  width: 100% !important;
  height: 50px !important;
  overflow: hidden !important;
  left: 0;
}
.fix_add{
  width: 100%;
  position: fixed;
  bottom: 2%;

}
.fix_delete{
  width:100%;
  position: fixed;
  bottom: 2%;

}

.delete_btn {
opacity: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0px 6px 25px -10px rgba(117,115,117,1);
  background: red;
position: relative;
  margin: auto;
}
.circle_div {
  width:50px;
  height: 50px;
  background: #0062cc;
  border-radius: 50%;
  margin: auto;
}
.rect_div{
  width:50px;
  height: 50px;
  background: #0062cc;
  border-radius: 50%;
  margin: auto;
}
.circle_inside{
  animation-name: circle_div_inside;
  animation-timing-function: ease-in;
animation-delay: 0s;
animation-duration: 700ms;
background: #0062cc;
}
.circle_outside{
  animation-name: circle_div_outside;
  animation-timing-function: ease-out;
animation-delay: 0s;
animation-duration: 1s;
background: #0062cc;
}
@keyframes circle_div_outside{
  0%   {transform: scale(1.0) ;transform-origin: center;}
  15%  { transform: scale(3.0) ;transform-origin: center;}
 30%  { transform: scale(5.0) ;transform-origin: center;}
 45%  { transform: scale(8.0) ;transform-origin: center;}
 60%  { transform: scale(10.0) ;transform-origin: center;}
 75%  { transform: scale(12.0) ;transform-origin: center;}
  90%  {transform: scale(15.0) ;transform-origin: center;}
  100% {transform: scale(18.8);transform-origin: center;}
}
@keyframes circle_div_inside{
  0%   {transform: scale(18.0) ;transform-origin: center;}
  15%  { transform: scale(15.0) ;transform-origin: center;}
 30%  { transform: scale(12.0) ;transform-origin: center;}
 45%  { transform: scale(10.0) ;transform-origin: center;}
 60%  { transform: scale(8.0) ;transform-origin: center;}
 75%  { transform: scale(5.0) ;transform-origin: center;}
  90%  {transform: scale(3.0) ;transform-origin: center;}
  100% {transform: scale(1.0);transform-origin: center;}
}
.modal-footer{
  justify-content: center !important;
 height: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #007bff !important;
  transition: 5s;
  transition-delay: 2s;
  background:#0062cc;
  animation-name: model-footer;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}
.add_btn{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  background: #0062cc;
  transition: 5s;
  transition-delay: 0s;
 margin:auto;
  position: relative;
  z-index: -9;
}
@keyframes model-footer{
  0%   {opacity: 0}
  25%  {opacity: 0}
  50%  {opacity: 0}
  50%  {opacity: 0.5}
  100% {opacity: 1;}
}

